body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#admin-container {
    max-width: 800px;
    max-height: 3000px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#button-container {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: #7FBD40 solid 5px;
}

.admin-button {
    background-color: #7FBD40;
    color: #fff;
    padding: 10px 0;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 48%;
    box-sizing: border-box;
}

#assign-tab, #view-tab {
    display: none;
}

.tab-content {
    padding: 20px;
}

.theme-color {
    color: #7FBD40;
}

.user-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-details-table th, .user-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user-details-table th {
    background-color: #7FBD40;
    color: white;
}

/* Additional styles for the assign tab */
#assign-user-dropdown,
#address-input,
#start-time-input,
#end-time-input,
#date-input,
#assign-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#assign-tab label {
    display: block;
    margin-bottom: 5px;
}
body{
    text-align: center;
}
.detailsButton{
    background-color: #7FBD40;
    color: white;
    padding:16px 16px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
#user-dropdown , #assign-user-dropdown{
    height:40px;
    border: #7FBD40 solid 5px;
    outline: none;
}
#address-input,#date-input,#start-time-input,#end-time-input{
    height:25px;
    border: #7FBD40 solid 5px;
    outline: none;
}
#heading{
    
    margin: 0; 
    margin-top: 20px;
}
@media(max-width: 660px){
    .admin-button{
        margin-top: 5px;
        width:250px;
    }

}
#assign-button{
    background-color: #7FBD40;
    color: white;
    padding: 16px 40px;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}   
.detailsButton:hover{
    background-color: #659831;
}
#assign-button:hover{
    background-color: #659831;
}
#refresh{
    background-color:  #DC3545;
}
#refresh:hover{
    background-color:  #b72b39;
}
@media(max-width:400px){
    #heading{
        font-size: 25px;
    }
}
@media(max-width:510px){
    .detailsButton{
        margin-left: 0px;
        margin-top: 10px;
    }
    #admin-container{
        width: 500px;
    }
    body{
        width: 540px;
    }
}
#excel{
    margin-top: 10px;
}